<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983110106150-63op8ueihr1updc63biepeqqrj8e82ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983110106150-63op8ueihr1updc63biepeqqrj8e82ce</string>
	<key>API_KEY</key>
	<string>AIzaSyDsfgDAAt3TFSYuRuLOIy9p5f7b8Tcer5M</string>
	<key>GCM_SENDER_ID</key>
	<string>983110106150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>whatapp-778d3</string>
	<key>STORAGE_BUCKET</key>
	<string>whatapp-778d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983110106150:ios:b53d4cfb803d23699afae7</string>
	<key>DATABASE_URL</key>
	<string>https://whatapp-778d3-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>